* {
  box-sizing: border-box;
  color: white;
  font-family: sans-serif;
}
.date-time {
  display: inline-block;
  position: absolute
}
.header {
  padding: 15px 10px 15px 0px;
  border-bottom: 2px solid white;
  margin: 0 0 10px 0;
}
.time {
  color: blue;
  margin: 0;
  text-align: center;
  font-size: 40px
}
.date {
  color: grey;
  margin: 10px 0 10px 10px;
  text-align: right;
}
.event {
  margin: 0 0 0 5%;
  position: relative;
}
i {
  color: white;
  font-family: material-icons;
  background: blue;
  border: 5px solid lightblue;
  border-radius: 50%;
  padding: 1%;
  position: absolute;
  left: 17%;
  top: 10px;
}
.body 
{
  position: relative;
  background: #0000FF;
  display: inline-block;
  max-width: 60%;
  border-radius: 2%;
  padding: 15px;
  margin: 10px 0 10px 28%
}
.body:after 
{
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 10px 10px 10px 0;
  border-color: transparent #0000FF;
  display: block;
  width: 0;
  z-index: 1;
  margin-top: -10px;
  left: -10px;
  top: 22px;
}
@media(max-width: 800px) {
  .time {
    font-size: 20px;
  }
}
@media(max-width:500px) {
  .body {
    max-width: 90%;
    margin: 75px 5% 10px 8%
  }
  i {
    left: 80%
  }
  .body:after 
  {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 0 10px 10px;
    border-color: #0000FF transparent;
    display: block;
    width: 0;
    z-index: 1;
    margin-left: -15px;
    top: 0px;
    left: 20px;
  }
}